.main-services {
  display: flex;
  padding-top: 14rem;
}

.main-services-desc {
  width: 50%;
  flex-shrink: 0;
  padding: 2.1rem 10.7rem 0 5rem;

  h2 {
    margin-bottom: 2.3rem;
  }

  p {
    margin-bottom: 8.6rem;
  }
}

.main-services-img {
  width: 50%;
  flex-shrink: 0;
  background: url('../../img/bg/services-bg.jpg') center center no-repeat;
}