.main-services {
  display: flex;
  padding-top: 14rem;
}

.main-services-desc {
  width: 50%;
  flex-shrink: 0;
  padding: 2.1rem 10.7rem 0 5rem;

  h2 {
    margin-bottom: 2.3rem;
  }

  p {
    margin-bottom: 8.6rem;
  }
}

.main-services-desc-list-unit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1rem solid $services-border;
  padding: 2rem 0;
  transition: .3s;
  cursor: pointer;

  &:hover {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(151, 129, 115, .1);
  }
}

.main-services-desc-list-unit-text {
  font-size: 2rem;
  line-height: 3rem;
  color: $secondary-text-color;
  text-transform: uppercase;
}

.main-services-img {
  width: 50%;
  flex-shrink: 0;
  background: url('../../img/bg/services-bg.jpg') center center no-repeat;
}