
a, button {
    outline: none !important;
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EDECE8FF;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
}

.nav-content {
    max-width: 130rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.nav-link {
    display: inline-block;
    margin-right: 5rem;
    text-transform: capitalize;
    position: relative;
    transition: transform .3s;
}

.nav-link:active {
    color: #4D484A;
}

.nav-link:before {
    content: "";
    width: 0;
    height: .1rem;
    background-color: #4D484A;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: width .3s;
}
.nav-link:after {
    content: "";
    width: 0;
    height: .1rem;
    background-color: #4D484A;
    position: absolute;
    top: 100%;
    right: 50%;
    transition: width .3s;
}

.nav-link:hover:after, .nav-link:hover:before {
    width: 50%;
}

.logo {
    margin-right: 16.2rem;
}

.logo img {
    display: block;
}

.nav-btn {
    line-height: 2.8rem;
    padding: 1rem 2.4rem;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: .1rem solid #4D484A;
    border-radius: 2.5rem;
    transition: border .3s;
}

.nav-btn:hover {
    border: .1rem solid #000;
}

.nav-btn span {
    position: relative;
    top: 0;
    transition: top .3s;
}

.nav-btn:active span {
    top: -.3rem;
}