.main-about {
    height: 81.2rem;
    position: relative;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
    background-color: transparent;
    @include mobile900 {
        height: auto;
    }
}

.relative {
    transform-style: preserve-3d;
}

.title {
    font-size: 2rem;
}

.main-about-unit {
    position: relative;
    background-color: $unit-bg;
    max-width: 65rem;
    width: 100%;
    padding: 10.9rem 9.5rem 6.9rem;

    @include mobile900 {
        max-width: 100%;
        padding: 4.8rem 2rem 2.4rem;
    }

    h2 {
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 2rem;
    }
}

.main-about-img-main {
    width: 39%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20%;
    background: url('/img/bg/about-bg-1.jpg') center center no-repeat;
    background-size: cover;
    // transform-origin: center right;
    transform: translateZ(-10px) scale(2);
    z-index: -1;
    @include mobile900 {
        display: none;
    }
}

.main-about-img-secondary {
    width: 24%;
    padding-bottom: 35.36%;
    height: 29vw;
    position: absolute;
    bottom: 0;
    right: -12%;
    background: url('/img/bg/about-bg-2.jpg') center center no-repeat;
    background-size: cover;
    transform-origin: center left;
    transform: translateZ(-5px) scale(1.5);
    z-index: -1;
    @include mobile900 {
        display: none;
    }
}
