.main-intro {
  position: relative;
  height: 72.7rem;

  @include mobile900 {
    height: auto;
  }

  &-bg-img {
    width: 65%;
    height: 72.7rem;
    position: absolute;
    top: 0;
    right: 0;
    background: url('/img/bg/intro-bg.jpg') right top no-repeat;
    background-size: cover;

    @include mobile900 {
      position: static;
      width: 100%;
      height: 0;
      padding-bottom: 80%;
    }
  }
}

.main-intro-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;

  h1 {
    margin: 0 0 4rem 11%;

    @include mobile900 {
      margin: 0 2rem 4rem;
    }
  }
}

.main-intro-description-list {
  list-style-type: none;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.7rem;
  color: #000;
  margin-left: 11%;

  @include mobile900 {
    margin: 0 2rem;
  }

  li {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1.5rem;

    @include mobile900 {
      margin-bottom: 1rem;
    }

    &:before {
      content: '';
      position: absolute;
      top: 1.5rem;
      left: 0;
      width: 2.2rem;
      height: 0.1rem;
      background-color: #000;
    }
  }
}

.main-intro-description-btn-enroll-wrap {
  margin-top: 3.5rem;
  margin-left: 35%;

  @include mobile900 {
    margin-bottom: -8rem;
  }

  .enroll-btn {
    margin-left: -8rem;
  }
}
