.services-list-unit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1rem solid $services-border;
  padding: 2rem 0;
  transition: .3s;
  cursor: pointer;

  &:hover {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(151, 129, 115, .1);
  }
}

.services-list-unit-text {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  color: $secondary-text-color;
  text-transform: uppercase;

  span {
    font-weight: 400;
    text-transform: lowercase;
  }
}

.services-list-unit-prices {
  font-size: 2rem;
  line-height: 3rem;
  color: $main-text-color;
}