.services-list-unit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1rem solid $services-border;
  padding: 2rem 0;
  transition: .3s;
  cursor: pointer;

  @include mobile900 {
    transition: none;
  }

  &:hover {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(151, 129, 115, .1);

    @include mobile900 {
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
    }
  }
}

.services-list-unit-text {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  color: $secondary-text-color;
  text-transform: uppercase;

  @include mobile900 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  span {
    font-weight: 400;
    text-transform: lowercase;
  }
}

.services-list-unit-prices {
  font-size: 2rem;
  line-height: 3rem;
  color: $main-text-color;

  @include mobile900 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-left: 1rem;
  }
}