.main-prices {
  display: flex;
  padding-top: 13.1rem;

  @include mobile900 {
    padding-top: 7.2rem;
  }
}

.main-prices-img-wrap {
  width: 50%;
  flex-shrink: 0;
  padding: 18.9rem 10.7rem 0 5rem;
  position: relative;

  @include mobile900 {
    display: none;
  }
}

.main-prices-img-sticky {
  position: relative;

  img {
    display: block;
    width: 100%;
    position: sticky;
    top: 15rem;
  }
}

.main-prices-desc {
  width: 50%;
  flex-shrink: 0;

  @include mobile900 {
    width: 100%;
    padding: 0 2rem;
  }
}

.main-prices-desc-unit-text {
  margin: 7.9rem 0 2rem;

  @include mobile900 {
    margin-top: 2.8rem;
  }
}