* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: $main-text-color;
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $main-bg;
    perspective: 10px;
    scroll-behavior: smooth;
}

a,
button {
    outline: none !important;
    text-decoration: none;
}

/* Headers */

h1 {
    font-weight: 400;
    font-size: 6.8rem;
    line-height: 8rem;
    text-transform: uppercase;

    @include mobile900 {
        font-size: 4.8rem;
        line-height: 6.5rem;
    }

    span {
        margin-top: -1.1rem;
        display: block;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        line-height: 9.1rem;
        letter-spacing: 0.03em;
        text-transform: capitalize;

        @include mobile900 {
            font-size: 4.8rem;
            line-height: 6.5rem;
        }
    }
}

h2 {
    font-weight: 500;
    font-size: 3.4rem;
    line-height: 5.1rem;
    text-transform: uppercase;

    @include mobile900 {
        font-size: 2.4rem;
        line-height: 3.8rem;
    }

    .header-sub {
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 4.7rem;
        letter-spacing: 0.03em;
        text-transform: capitalize;

        @include mobile900 {
            font-size: 2.5rem;
            line-height: 4rem;
        }
    }
}

h3 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: $secondary-text-color;

    @include mobile900 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    span {
        white-space: nowrap;
    }
}

h4 {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: $secondary-text-color;
    margin-bottom: 1rem;
}

h5 {
    font-weight: 500;
    font-size: 44px;
    line-height: 160%;
    text-transform: uppercase;

    @include mobile900 {
        font-size: 2.8rem;
        line-height: 4rem;
    }

    span {
        margin-top: -1.4rem;
        display: block;
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-weight: 500;
        font-size: 5.4rem;
        line-height: 8.6rem;
        letter-spacing: 0.03em;
        text-transform: lowercase;

        @include mobile900 {
            font-size: 2.8rem;
            line-height: 4rem;
            display: inline;
        }
    }
}

/* End Headers */

/* Paragraph */

p,
ul {
    font-size: 2rem;
    line-height: 3rem;

    @include mobile900 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

/* End Paragraph */

/* Sections Wrapper */

.main-section {
    max-width: 140rem;
    width: 100%;
    margin: 0 auto;
    background-color: $main-bg;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}
/* Ens Sections Wrapper */
