$main-bg: #edece8;
$unit-bg: #f5f5f5;

$main-text-color: #4d484a;
$secondary-text-color: #978173;

$services-border: #ac998a;
$image-background: hsl(26, 33%, 96%);

// :export {
//   mainBackground: $main-bg;
//   unitBackground: $unit-bg;

//   mainTextColor: $main-text-color;
//   secondaryTextColor: $secondary-text-color;

//   servicesBorder: $services-border;
// }
